*.cprof
*.prof
htmlcov
__pycache__
.coverage
.coverage_func
.mypy_cache
.sms_userid
*.o
sc2mat
ad2cpMAT
x3decode_ts
ETOPO2v2g_f4.nc
config.py
*pyc
rawxfer/rawrcv2
rawxfer/rawsend
etc
local
ssh
microstructure
adcp
