CodeCleanup.html
*.cprof
*.prof
htmlcov
__pycache__
.coverage
.coverage_func
.mypy_cache
.sms_userid
*.o
sc2mat
x3decode_ts
ETOPO2v2g_f4.nc
config.py
*pyc
packages/lrzsz-0.12.20/Makefile
packages/lrzsz-0.12.20/Specfile
packages/lrzsz-0.12.20/config.cache
packages/lrzsz-0.12.20/config.h
packages/lrzsz-0.12.20/config.log
packages/lrzsz-0.12.20/config.status
packages/lrzsz-0.12.20/debian/rules
packages/lrzsz-0.12.20/intl/Makefile
packages/lrzsz-0.12.20/intl/libintl.a
packages/lrzsz-0.12.20/intl/libintl.h
packages/lrzsz-0.12.20/intl/po2tbl.sed
packages/lrzsz-0.12.20/lib/Makefile
packages/lrzsz-0.12.20/lib/libzmodem.a
packages/lrzsz-0.12.20/man/Makefile
packages/lrzsz-0.12.20/po/Makefile
packages/lrzsz-0.12.20/po/Makefile.in
packages/lrzsz-0.12.20/po/POTFILES
packages/lrzsz-0.12.20/src/Makefile
packages/lrzsz-0.12.20/src/lrz
packages/lrzsz-0.12.20/src/lrzszbug
packages/lrzsz-0.12.20/src/lsz
packages/lrzsz-0.12.20/stamp-h
packages/lrzsz-0.12.20/systype
packages/lrzsz-0.12.20/testsuite/Makefile
rawxfer/rawrcv2
rawxfer/rawsend
