## Copyright (c) 2023  University of Washington.
## 
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are met:
## 
## 1. Redistributions of source code must retain the above copyright notice, this
##    list of conditions and the following disclaimer.
## 
## 2. Redistributions in binary form must reproduce the above copyright notice,
##    this list of conditions and the following disclaimer in the documentation
##    and/or other materials provided with the distribution.
## 
## 3. Neither the name of the University of Washington nor the names of its
##    contributors may be used to endorse or promote products derived from this
##    software without specific prior written permission.
## 
## THIS SOFTWARE IS PROVIDED BY THE UNIVERSITY OF WASHINGTON AND CONTRIBUTORS “AS
## IS” AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
## IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
## DISCLAIMED. IN NO EVENT SHALL THE UNIVERSITY OF WASHINGTON OR CONTRIBUTORS BE
## LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
## CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
## GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
## HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
## LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT
## OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#
# General
#
# This is the template systemd service file for a service that will
# exectute the basestation code that is normally run out of glider_login and glider_logout.
# Typically, this is for jailed glider accounts, but may be used for
# unjailed accounts.
#
# In the notes below, username is the account name (usually a pilot's account)
# that the basestation conversion process will be running under. The glider's
# home directory must be group owned by a group this user is in (typically "gliders")
# and the group permissions must be +rwx.
#
# If updating:
#
# sudo systemctl stop baserunner@username.service
#
# Installation or update
#
# sudo cp baserunner@.service /etc/systemd/system/baserunner@.service
#
# Replace the following strings below:
# 
# {glider_jail_root} - the root of the gliders jail, if using a jail.  Otherwise "/" for the root of the filesystem
# {user_homedir} - Fully qualified path the username home directory
# {rundir} - Fully qualified path the rundirectory.  This must match the location set in /usr/local/basesation/glider_login
# and /usr/local/basesation/glider_logout.  See the ReadMe.md for more discussion on the setup of these files.
# 
# sudo systemctl daemon-reload
# sudo systemctl enable baserunner@username.service
# sudo systemctl start baserunner@username.service
# sudo systemctl status baserunner@username.service
#
#
# Note: as an alternative, this maybe run as a systemd user service.
# Please see https://www.unixsysadmin.com/systemd-user-services/ for futher setup details
# 
[Unit]
Description=Seaglider runner process for glider accounts
After=network.target
# No limit on number of times to retry - not clear if needed
#StartLimitIntervalSec=0

[Service]
# Note: setting PYTHONUNBUFFERED is necessary to see the output of this service in the journal
# See https://docs.python.org/2/using/cmdline.html#envvar-PYTHONUNBUFFERED
# Not entirely clear we need this
Environment=PYTHONUNBUFFERED=true
User=%i
ExecStart=/opt/basestation/bin/python /usr/local/basestation3/BaseRunner.py --jail_root {glider_jail_root} --base_log {user_homedir}/baserunner.log {rundir}
WatchdogSec=30
Restart=always
RuntimeMaxSec=86400
TimeoutStopSec=10
Type=notify
# Unclear if these are required, given the above Restart setting
#RestartSec=2
#SuccessExitStatus=3 4
#RestartForceExitStatus=3 4

[Install]
WantedBy=multi-user.target