matplotlib==3.1.3
#basemap==1.2.1
# Basemap no longer in pip.  To install:
# Linux
# sudo apt-get install libgeos-dev
# pip install git+https://github.com/matplotlib/basemap.git
# OSX
# brew install geos
# pip install git+https://github.com/matplotlib/basemap.git
numpy==1.18.1
# For MakePlot4 
plotly==4.5.1
scipy==1.4.1
# For SlackPost and InReachSend
requests==2.23.0
#seawater==1.1
# Must be installed from local package packages/seawater-1.1
