# For Plotly persistence
kaleido>=0.2.1; platform_machine != 'armv7l'
brotlipy
matplotlib>=3.6.0
cmocean
numpy>=1.19.1
#gsw==3.3.1
gsw==3.6.16
seawater==3.3.4
plotly==4.9.0
scipy>=1.9.0
# latest cartopy crashes when shapely is not built from source
shapely --no-binary shapely
cartopy
PyYAML>=6.0
# For SlackPost and InReachSend
requests==2.24.0
# For GliderDAC and BaseNetwork support
xarray>=0.21.1
netCDF4>=1.5.8
# For sftp support in BaseDotFiles
paramiko>=2.10.4
# For BaseRunner
inotify_simple
sdnotify
# For create_jail
pylddwrap
# For visualization
parse
sanic
sanic_gzip
aiohttp
jinja2
sanic_ext
uuid
passlib
PyJWT
aiosqlite
orjson
anyio
pyzmq --no-binary=pyzmq
