name=NCP
prefix=cp
timeout=15000
baud=38400
warmup=400
voltage=15
current=0.111
wakeup=%F@@@@@@%(100)K1W%%!Q%(400)K1W%%!Q%(1000)%rMC%r%[OK]%F
cmdprefix=$CP_
powerup-timeout=0
prompt=OK
datatype=u
start=%X
stop=%FMC%r%[OK]
profiles-download=merged
dive-start=%FMC%r%[OK]LISTFILES,OPT="la"%r%[OK]ERASETM,CODE=9999%r%n%[OK]
cleanup=%FMC%r%[OK]ERASETM,CODE=9999%r%[OK]
download="telemetryfile.bin"
downloader=ad2cp
metadata=
selftest=%FMC%r%[OK]GETALL%r%[OK]
clock-set=%FMC%r%[OK]SETCLOCK,YEAR=20%{%y,MONTH=%m,DAY=%d,HOUR=%H,MINUTE=%M,SECOND=%S}%r%[OK]
clock-read=%FMC%r%[OK]GETCLOCK%r%[OK]
clock-sync=gps2  
post-clock=off
post-transfer=off
post-stop=off
script-x=NCP_GO
log-cmd=%FMC%r%[OK]RECSTAT,FC%r%[OK]
log-resp=%00
log-0=FREE
