#('register_sensor_dim_info_ocr504i', ('ocr504i_data_info','ocr504i_data_point','ocr504i_time', True, 'ocr504i'))
#('ocr504i', [False, 'c', {'long_name':'underway multispectral radiometer', 'make_model':'Satlantic  OCR-504 Multispectral Radiometer'}, nc_scalar])
#('ocr504i_time', [True, 'd', {'standard_name':'time', 'units':'seconds since 1970-1-1 00:00:00', 'description':'OCR504i time in GMT epoch format'}, ('ocr504i_data_info',)])
#('ocr504i_chan1', [True, 'd', {'units': 'uW/cm^2/nm', 'description':'412nm', '_FillValue':nc_nan}, ('ocr504i_data_info',)])
#('ocr504i_chan2', [True, 'd', {'units': 'uW/cm^2/nm', 'description':'444nm', '_FillValue':nc_nan}, ('ocr504i_data_info',)])
#('ocr504i_chan3', [True, 'd', {'units': 'uW/cm^2/nm', 'description':'554nm', '_FillValue':nc_nan}, ('ocr504i_data_info',)])
#('ocr504i_chan4', [True, 'd', {'units': 'umol/m^2/sec', 'description':'PAR', '_FillValue':nc_nan}, ('ocr504i_data_info',)])
#('sg_cal_ocr504i_chan1', [True, 'c', {'description':'Wavelength data from cal sheet'}, nc_scalar])
#('sg_cal_ocr504i_chan2', [True, 'c', {'description':'Wavelength data from cal sheet'}, nc_scalar])
#('sg_cal_ocr504i_chan3', [True, 'c', {'description':'Wavelength data from cal sheet'}, nc_scalar])
#('sg_cal_ocr504i_chan4', [True, 'c', {'description':'Wavelength data from cal sheet'}, nc_scalar])
#('ocr504i_ontime_a', [False, 'd', {'description':'ocr504i total time turned on dive', 'units' : 'secs'}, nc_scalar])
#('ocr504i_samples_a', [False, 'i', {'description':'ocr504i total number of samples taken dive'}, nc_scalar])
#('ocr504i_timeouts_a', [False, 'i', {'description':'ocr504i total number of samples timed out on dive'}, nc_scalar])
#('ocr504i_ontime_b', [False, 'd', {'description':'ocr504i total time turned on climb', 'units' : 'secs'}, nc_scalar])
#('ocr504i_samples_b', [False, 'i', {'description':'ocr504i total number of samples taken climb'}, nc_scalar])
#('ocr504i_timeouts_b', [False, 'i', {'description':'ocr504i total number of samples timed out on climb'}, nc_scalar])
