#('eng_qsp_PARuV', [True, 'd', {'units': 'umol/m^2/sec', 'description':'PAR', '_FillValue':nc_nan}, (nc_sg_data_info,)])
name=QSP2150
prefix=qsp
timeout=250
baud=9600
warmup=100
voltage=10
current=0.00438
format="%00"
flow=0
column=PARuV(1000000,0)


