{% if runMode == 'pilot' %}
<link rel="shortcut icon" href="/script/images/SGX_square_transparent.ico"/>
<link rel="apple-touch-icon" href="/script/images/SGX_square_transparent_72.png"/>
<link sizes="72x72" rel="apple-touch-icon" href="/script/images/SGX_square_transparent_72.png"/>
<link sizes="114x114" rel="apple-touch-icon" href="/script/images/SGX_square_transparent_114.png"/>
<link sizes="144x144" rel="apple-touch-icon" href="/script/images/SGX_square_transparent_144.png"/>
<link rel="manifest" href="/manifest.json">
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/script/dialogs.css" />

<style>
    a:link,.spanClick           {color:#0000ff; text-decoration:none}
    a:visited {color:#0000aa; text-decoration:none}
    a:hover,.spanClick:hover    {color:#0000aa; text-decoration:underline; cursor:pointer; }
    a:active,.spanClick:active  {color:#0000aa; text-decoration:underline}

    body {
        background-color: #999999;
        color: #000000;
    }

    .tile {
        background: #bbbbbb;
        width: 300px;
        height: 435px;
        border: 2px solid black;
        margin-left: 10px;
        margin-top: 10px;
        float: left;
        padding: 4px;
        position: relative;
    }

    .header {
        font-size: 20px;
        font-weight: bold;
    }
    .position {
        font-size: 16px;
        font-weight: bold;
    }

    .label {
        float: left;
        width: 30px;
    }

    .box {
        display: flex;
        align-items: center;  
        margin-top: 5px;
    }
  
    .imgbox {
        display: flex;
        align-items: center;  
        margin-top: 0px;
        justify-content: center;
        flex-direction: column; 
    }

{% if runMode == 'pilot' %}

    .expander {
        width: 8px;
        max-width: 8px;
        cursor: pointer;
    }

    .indicatorInsideBox {
        display: flex;
        min-height: 35px;
        margin-top: 5px;
        flex-wrap: wrap;
        gap: 4px;
    }

    .indicatorBox {
        display: flex;
        flex: 1;
        align-items: center; 
        margin-top: 5px;
        overflow: auto;
    }

    .indicator {
        cursor: help;
        flex-grow: 0;
        flex-shrink: 0;
        border: 2px solid black;
        text-align: center;
        max-width: 50px;
        width: 50px;
        border-radius: 8px;
        height: 30px;
        max-height: 30px;
        z-index: 20;
    }

    [class~="indicatorGreen"] {
        background-color: #00ff00;
    }
    [class~="indicatorRed"] {
        background-color: #ff0000;
    }
    [class~="indicatorYellow"] {
        background-color: #ffff00;
    }

    .chart {
        background: rgba(255, 255, 255, 0.4);
        justify-content: flex-start;
        border-radius: 50px;
        align-items: center;
        position: relative;
        padding: 0 5px;
        display: flex;
        height: 20px;
        width: 260px;
    }

    .chart span {
        margin-left: 2px;
        color: #555;
        font-weight: bolder;
    }

    .bar {
        border-radius: 0px;
        background: #00ff00;
        height: 16px;
        width: 100%;
        margin-left: 0px;
    }

    .barPercent {
        border-radius: 10px;
        background: #00ff00;
        height: 16px;
        width: 100%;
        margin-left: -2px;
    }

{% endif %}

</style>
<script src="/script/util.js"></script>
<script src="/script/dialogs.js"></script>
<script>

    var gliders = [];

    function mission(glider) {
        if (glider.mission != '')
            return `?mission=${glider.mission}`;
        else
            return '';
    }

{% if runMode == 'pilot' %}
    function setPlusMinusBar(chart, bar, span, pct, text, hover) {
        if (pct < -1)
            pct = -1;
        else if (pct > 1)
            pct = 1;

        var wide = $(chart).offsetWidth;
        var half = wide/2;
        var pix = half*Math.abs(pct);
        var off = pct < 0 ? half - pix : half;
     
        $(chart).title = hover;
        if (pct < 0) {
            $(bar).style.borderTopLeftRadius = '10px'; 
            $(bar).style.borderBottomLeftRadius = '10px';
            $(bar).style.borderTopRightRadius = '0px';
            $(bar).style.borderBottomRightRadius = '0px';
        }
        else {
            $(bar).style.borderTopLeftRadius = '0px'; 
            $(bar).style.borderBottomLeftRadius = '0px';
            $(bar).style.borderTopRightRadius = '10px';
            $(bar).style.borderBottomRightRadius = '10px';
        }
        $(bar).style.marginLeft = off + 'px';
        $(bar).style.width = pix + 'px';

        if (pct < 0 && pct > -0.1)
            $(bar).style.backgroundColor = 'yellow';
        else if (pct < -0.1)
            $(bar).style.backgroundColor = 'red';
        else 
            $(bar).style.backgroundColor = 'green';

        $(span).innerHTML = text;
    }

    function setPercentBar(chart, bar, span, pct, text, hover) {

        if (pct < -1)
            pct = -1;
        else if (pct > 1)
            pct = 1;
       
        $(chart).title = hover; 

        $(bar).style.width = (100*pct) + '%';

        if (pct < 0.1)
            $(bar).style.backgroundColor = 'red';
        else if (pct < 0.25)
            $(bar).style.backgroundColor = 'yellow';
        else 
            $(bar).style.backgroundColor = 'green';

        if (text != '')
            $(span).innerHTML = text;
        else 
            $(span).innerHTML = (pct*100).toFixed(0) + '%';

    }
    
    var nextGauges = [];
    var nextTimer = null;
    var plotWhich = 'diveplot';
 

    function updateNext() {
        var next, nextHour, nextMin;
        for (var i = 0 ; i < nextGauges.length ; i++) {
            next = (nextGauges[i].next - Date.now()/1000);
            nextHour = parseInt('' + (next/3600));
            nextMin  = parseInt('' + Math.abs(((next - nextHour*3600)/60)));

            let due_t = new Date(Date.now() + next*1000).toISOString().replace('T', ' ').slice(0,-8);
            setPlusMinusBar(nextGauges[i].chart, 
                            nextGauges[i].bar,
                            nextGauges[i].span,
                            next/28800.0,
                            `${nextHour.zeroPad()}:${nextMin.zeroPad()}`, 
                            `next call due ${due_t}`);
        }
    }

    const directiveColors = { "GO": "green", "QUIT": "red", "RESUME": "yellow" };
    function formatDirective(d, id) {
        var color;
        color = d in directiveColors ? directiveColors[d] : 'black'; 
        return `<span style="color:${color};" id="${id}">${d}</span>`;
    }

    function thresh(val, lim1, lim2) {
        if (lim1 < lim2) {
            if (val < lim1)
                return 'indicatorRed';
            else if (val < lim2)
                return 'indicatorYellow';
            else
                return 'indicatorGreen';
        }
        else {
            if (val > lim1)
                return 'indicatorRed';
            else if (val > lim2)
                return 'indicatorYellow';
            else
                return 'indicatorGreen';
        }
    }

    function createTile(glider, t) {
        console.log(glider);
        var indicators = [];

        fetch(`/summary/${glider.glider}${mission(glider)}`)
        .then(res => res.text())
        .then(data => {
            data = data.replaceAll('NaN', 'null');
            data = JSON.parse(data)
 
            t.classList.add('tile');
            t.onclick = function() { window.open(`/${data.mission.glider}${mission(glider)}`, `${data.mission.glider}`); };
           
            var h, txt, box, barBatt, chartBatt, spanBatt, header;
            var barNext, chartNext, spanNex;
            if (glider.mission == '')
                h = h = 'SG' + data.mission.glider + '<br><hr>';
            else
                h = 'SG' + data.mission.glider + ': ' + glider.mission.replace('_', ' ') + '<br><hr>';

            header = document.createElement('div');
            header.classList.add('header');
            header.innerHTML = h;

            t.appendChild(header);

            txt = document.createElement('div');
            let end_t = new Date(data.end*1000).toISOString().replace('T', ' ').slice(0,-5);
            txt.innerHTML = `dive ${data.dive} ended ${end_t} to ${data.depth.toFixed(0)}m`;
            t.appendChild(txt);

            txt = document.createElement('div');
            txt.id = `${glider}_directive`

            txt.innerHTML = `parsed ${formatDirective(data.commDirective, "commdirective" + glider.glider)}, waiting ${formatDirective(data.cmdfileDirective, "cmdfileDirective" + glider.glider)}`;
            t.appendChild(txt);


            txt = document.createElement('div');
            if (data.shutdown) {
                txt.innerHTML = '<span style="color:magenta; font-weight: bold;">powered off</span>';
            }
            else if (data.recovery != null) {
                var color;
                if (data.commDirective == 'RESUME')       color = 'black';
                else if (data.recovery == 'QUIT_COMMAND') color = 'yellow';
                else                                      color = 'red';
                txt.innerHTML = `in recovery: <span style="color:${color}; font-weight: bold;">${data.recovery}</span>`;
            }
            else {
                txt.innerHTML = 'in recovery: <span style="color:green; font-weight: bold;">no</span>';
            }
            t.appendChild(txt);

            box = document.createElement('div');
            box.classList.add('box');

            txt = document.createElement('div');
            txt.classList.add('position');
            txt.innerHTML = formatPos(dd2ddmm(data.lat)) + ',' + formatPos(dd2ddmm(data.lon));
            h = document.createElement('div');
            h.appendChild(document.createTextNode('pos: '));
            h.classList.add('label');
            box.appendChild(h);
            box.appendChild(txt);
            t.appendChild(box);

            box = document.createElement('div');
            box.classList.add('box');

            chartBatt = document.createElement('div');
            chartBatt.classList.add('chart');
            chartBatt.id = 'chartBatt' + data.name;
            h = document.createElement('div');
            h.appendChild(document.createTextNode('batt: '));
            h.classList.add('label');
            box.appendChild(h);
            box.appendChild(chartBatt);
            t.appendChild(box);

            barBatt = document.createElement('div');
            barBatt.classList.add('barPercent');
            barBatt.id = 'barBatt' + data.name;
            chartBatt.appendChild(barBatt);

            spanBatt = document.createElement('span');
            spanBatt.id = 'spanBatt' + data.name;
            chartBatt.appendChild(spanBatt);

            let endurance_t = new Date(data.enduranceEndT*1000).toISOString().replace('T', ' ').slice(0,-14);
            setPercentBar(chartBatt.id, barBatt.id, spanBatt.id, data.capacity[1], '', `projected end ${endurance_t}`);

            box = document.createElement('div');
            box.classList.add('box');

            chartNext = document.createElement('div');
            chartNext.classList.add('chart');
            chartNext.id = 'chartNext' + data.name;
            h = document.createElement('div');
            h.appendChild(document.createTextNode('next: '));
            h.classList.add('label');
            box.appendChild(h);
            box.appendChild(chartNext);
            t.appendChild(box);

            barNext = document.createElement('div');
            barNext.classList.add('barPercent');
            barNext.id = 'barNext' + data.name;
            chartNext .appendChild(barNext);

            spanNext = document.createElement('span');
            spanNext.id = 'spanNext' + data.name;
            chartNext.appendChild(spanNext);

            nextGauges.push({chart:chartNext.id, bar:barNext.id, span:spanNext.id, next:data.next});

            next = (data.next - Date.now()/1000);
            nextHour = parseInt('' + (next/3600));
            nextMin  = parseInt('' + Math.abs(((next - nextHour*3600)/60)));
            
            let due_t = new Date(Date.now() + next*1000).toISOString().replace('T', ' ').slice(0,-8);
            setPlusMinusBar(chartNext.id, barNext.id, spanNext.id, next/28800.0, `${nextHour.zeroPad()}:${nextMin.zeroPad()}`, `next call due ${due_t}`);

            // annunciators
            h = document.createElement('div');
            h.classList.add('indicatorBox');
            box = document.createElement('div');
            box.classList.add('indicatorInsideBox');
            h.appendChild(box);

            // errors
            h = document.createElement('div');
            h.classList.add('indicator');
            h.innerHTML = `errors<br>${data.errors + data.crits}`;
            h.classList.add(thresh(data.errors + data.crits, 0, 0));
            indicators.push(h);

            // alerts
            h = document.createElement('div');
            h.classList.add('indicator');
            h.innerHTML = `alerts<br>${data.alert ? 'yes' : 'none'}`;
            h.classList.add(thresh(data.alert ? 1 : 0, 0, 0));
            indicators.push(h);
 
            // OG efficiency
            h = document.createElement('div');
            h.title = "over-ground efficiency (flight quality)"
            h.classList.add('indicator');
            h.innerHTML = `OG eff.<br>${(100*data.dogEfficiency).toFixed(0)}%`;
            h.classList.add(thresh(data.dogEfficiency, 0.25, 0.5));
            indicators.push(h);

            // VBD efficiency
            h = document.createElement('div');
            h.classList.add('indicator');
            h.innerHTML = `VBD eff.<br>${(100*data.vbdEfficiency).toFixed(0)}%`;
            h.classList.add(thresh(data.vbdEfficiency, 0.25, 0.4));
            indicators.push(h);

            // mission endurance - planned end date must be defined
            if ('mission' in data && 'planned' in data.mission && data.mission.planned) {
                planned = new Date(data.mission.planned).getTime() /1000;
                let days = (planned - data.enduranceEndT)/86400;
                h = document.createElement('div');
                if (days < 0)
                    h.title = `mission endurance ${-days.toFixed(0)} days beyond end-date (${data.mission.planned})`;
                else
                    h.title = `mission endurance ${days.toFixed(0)} days short of end-date (${data.mission.planned})`;
                h.classList.add('indicator');
                if (days < 0)
                    h.innerHTML = `endur.<br><span style="font-size:11px;">+${-days.toFixed(0)} days</span>`;
                else
                    h.innerHTML = `endur.<br><span style="font-size:11px;">${days.toFixed(0)} days</span>`;
                h.classList.add(thresh(days, 30, 0));
                indicators.push(h);
            }

            // internal pressure
            h = document.createElement('div');
            h.title = `internal pressure slope ${data.internalPressureSlope.toFixed(3)}psi/dv`;
            h.classList.add('indicator');
            h.innerHTML = `intern P<br>${data.internalPressure.toFixed(2)} psi`;
            h.classList.add(thresh(data.internalPressureSlope, 0.01, 0.005));
            indicators.push(h);

            // humidity
            h = document.createElement('div');
            h.classList.add('indicator');
            h.innerHTML = `humid<br>${data.humidity.toFixed(1)}`;
            h.classList.add(thresh(data.humiditySlope, 0.2, 0.05));
            indicators.push(h);

            // volmax
            h = document.createElement('div');
            h.classList.add('indicator');
            h.innerHTML = `volmax<br><span style="font-size:11px;">${data.impliedVolmaxSlope.toFixed(1)}cc/dv</span>`;
            h.classList.add(thresh(Math.abs(data.impliedVolmaxSlope), 4, 2));
            indicators.push(h);

            // comms
            h = document.createElement('div');
            h.classList.add('indicator');
            let callState = data.logout ? "call finished ok" : "call dropped";
            if (data.calls == 1 && data.logout) {
                h.title = 'calls 1, call finished ok';
                h.innerHTML = 'comms<br>good';
                h.classList.add('indicatorGreen');
            }
            else if (data.calls < 3 || data.logout == false) {
                h.title = `calls ${data.calls}, ${callState}`;
                h.innerHTML = 'comms<br>fair';
                h.classList.add('indicatorYellow');
            }
            else {
                h.title = `calls ${data.calls}, ${callState}`;
                h.innerHTML = 'comms<br>poor';
                h.classList.add('indicatorRed');
            }
            indicators.push(h);

            var count = 0;
            var firstExta = null;
             
            const classes = ["indicatorRed", "indicatorYellow", "indicatorGreen"];
            for (const c of classes) {
                for (var i = 0 ; i < indicators.length ; i++) {
                    if (indicators[i].classList.contains(c)) {
                        box.appendChild(indicators[i]);
                        if (count >= 5) {
                            indicators[i].setAttribute('hidden', '');
                            indicators[i].setAttribute('data-extra', '');
                            console.log('attaching attributes');
                        }
                        if (count == 5)
                            firstExtra = indicators[i];

                        count ++;
                    }
                }
            }    

            h = document.createElement('span');
            h.classList.add('expander');
            h.innerHTML = '&#9654;'; // tri right, &#9660; is tri down
            h.onclick = function() { 
                event.stopPropagation();
                var extra = this.parentElement.querySelectorAll('[data-extra]'); 

                if (extra[0].hasAttribute('hidden')) {
                    for (e of extra) {
                        e.removeAttribute('hidden');
                    }
                    this.innerHTML = '&#9660;'
                }
                else {
                    for (e of extra) {
                        e.setAttribute('hidden', '');
                    }
                    this.innerHTML = '&#9654;'
                }
                return true;
            } 
            box.insertBefore(h, firstExtra);


            t.appendChild(box);
            
            box = document.createElement('div');
            box.classList.add('imgbox');
            img = document.createElement('img');
            if (plotWhich == 'map')
                img.src = '/plot/png/eng/' + data.name + '/' + data.dive + '/mission_map' + mission(glider);
            else
                img.src = '/plot/png/dv/' + data.name + '/' + data.dive + '/' + plotWhich + mission(glider);
    
            img.style = "position: absolute; top: 200px; max-width:290px; max-height:240px; mix-blend-mode:multiply;"
     
            box.appendChild(img);
            t.appendChild(box);
        })
        .catch(error => {
            console.log(error);
        });
    }

{% else %}

    function createTile(glider, t) {
        console.log(glider);

        fetch(`/summary/${glider.glider}${mission(glider)}`)
        .then(res => res.json())
        .then(data => {
            t.classList.add('tile');
            t.onclick = function() { window.open(`/${data.name}${mission(glider)}`, `${data.name}`); };
           
            var h, txt, box, header;
            if (glider.mission == '')
                h = h = 'SG' + data.name + '<br><hr>';
            else
                h = 'SG' + data.name + ': ' + glider.mission.replace('_', ' ') + '<br><hr>';

            header = document.createElement('div');
            header.classList.add('header');
            header.innerHTML = h;

            t.appendChild(header);
            
            txt = document.createElement('div');
            txt.classList.add('position');
            let end_t = new Date(data.end*1000).toISOString().replace('T', ' ').slice(0,-5);
            txt.innerHTML = `dive ${data.dive} ended ${end_t}<br>to ${data.depth.toFixed(0)}m in ${(data.length/60).toFixed(0)} minutes`;
            t.appendChild(txt);

            box = document.createElement('div');
            box.classList.add('box');

            txt = document.createElement('div');
            txt.classList.add('position');
            txt.innerHTML = formatPos(dd2ddmm(data.lat)) + ',' + formatPos(dd2ddmm(data.lon));
            h = document.createElement('div');
            h.appendChild(document.createTextNode('pos: '));
            h.classList.add('label');
            box.appendChild(h);
            box.appendChild(txt);
            t.appendChild(box);

            box = document.createElement('div');
            box.classList.add('imgbox');

            img = document.createElement('img');
            img.src = '/plot/png/eng/' + data.name + '/' + data.dive + '/mission_map' + mission(glider);
            img.style = "max-width:290px; max-height:330px; mix-blend-mode:multiply;"
     
            box.appendChild(img);
            t.appendChild(box);
        })
        .catch(error => {
            console.log(error);
        });
    }

{% endif %}

    function loadAbout(org) {
        var t;

        d = $('aboutContent');
        t = document.createElement('div');
        t.classList.add('header');
        t.innerHTML = org.name + '<br><hr>';
        d.appendChild(t);

        if ('link' in org) {
            t = document.createElement('div');
            t.innerHTML = `<a href="${org.link}">${org.link}</a>`;
            d.appendChild(t);
        }
        if ('contact' in org) {
            t = document.createElement('div');
            t.innerHTML = `contact: ${org.contact}` 
            if ('email' in org) {
                t.innerHTML = t.innerHTML + ` (${org.email})`;
            }
            d.appendChild(t);
        }
        else if ('email' in org) {
            t = document.createElement('div');
            t.innerHTML = `contact: ${org.email}` 
            d.appendChild(t);
        }
        
        if ('text' in org) {
            t = document.createElement('div');
            t.innerHTML = org.text;
            d.appendChild(t);
        }

    }

    function loadTable() {
{% if runMode == 'pilot' %}
        window.name = 'dash';
        document.title = 'dash';

        let params = new URLSearchParams(window.location.search);
        if (params.has('plot'))
            plotWhich = params.get('plot');

        nextGauges = [];
{% else %}
        window.name = 'index';
        document.title = 'index';
{% endif %}

        clearTiles('main');

        fetch(`/missions/1`)
        .then(res => res.json())
        .then(data => {
            var glider, t;
            loadAbout(data['organization']);
            for (g of data['missions']) {
                glider = { glider: g.glider, mission: g.mission };

                // create div and append as blank to main
                // so that we can control the order independently
                // of when then individual /summary fetches arrive

                // this tile probably never exists here in loadTable
                if ($(`${g.glider}_${g.mission}`)) {
                    console.log('tile exists, clearing');
                    clearTiles(`${g.glider}_${g.mission}`);
                    t = $(`${g.glider}_${g.mission}`);
                }
                else {
                    t = document.createElement('div');
                    t.id = `${g.glider}_${g.mission}`
                    $('main').appendChild(t);
                }
                createTile(glider, t);
            }

{% if runMode == 'pilot' %}
            if (nextTimer) {
                clearInterval(nextTimer);
            }
        
            nextTimer = window.setInterval(updateNext, 60000);
{% endif %}
        })
        .catch(error => {
            console.log(error);
        });

    }

    function clearTiles(parent) {
        while($(parent).firstChild) {
            $(parent).removeChild($(parent).firstChild);
        }
    }

    let wsocket  = null;
    var lastSetup = 0;
    var first = true;

    function setupStream() {
        if (Date.now() < lastSetup + 20000) {
            setTimeout('setupStream()', 20000);
            console.log('too soon');
            return;
        }
        lastSetup = Date.now();

        if (wsocket != null) {			      	
            console.log('previous stream exists');
        }
        console.log('setting up stream');
        var loc = window.location, new_uri;
        if (loc.protocol === "https:")
            new_uri = "wss:";
        else
            new_uri = "ws:";

        new_uri += "//" + loc.host;
        new_uri += "/watch/mask";
        wsocket = new WebSocket(new_uri);

        wsocket.onerror = function(error) {
            console.log('stream error detected');
            wsocket.close();
        };

        wsocket.onclose = function(e) {
            if (e.wasClean) {
                console.log('stream closed cleanly');
            }
            else {
                console.log('connection died');
            }
            setupStream();
        };

        wsocket.onmessage = function(e) {
            var line = e.data;
            console.log(line);
            if (line.startsWith('NEW=')) {
                pieces = line.split('=')[1].split(',')
                glider = pieces[0]
                which = pieces[1]
                console.log(glider + ' ' + which);
{% if runMode == 'pilot' %}
                if (which == 'cmdfile' && pieces.length == 3) {
                    d = pieces[2]
                    $('cmdfileDirective' + glider).innerHTML = d;
                    $('cmdfileDirective' + glider).style.color = d in directiveColors ? directiveColors[d] : 'black';
                }
                else if (which.startsWith('files=perdive')) {
{% else %}
                if (which.startsWith('files=perdive')) {
{% endif %}
                    // the only files we care about is perdive which we use 
                    // to trigger a reload of this tile
                    clearTiles('' + glider);
                    createTile({ "glider": glider, "mission": ''}, $('' + glider))
                }
                else if (which.startsWith('status')) {
                    // the only status message is disconnected
                    $(glider).style.border = '2px solid black';
                }
                else if (which.startsWith('gpsstr')) {
                    // we only get gpsstr on new connection
                    $(glider).style.border = '2px solid magenta';
                }
            }
        }
    }
    function init() {
        var scale = 'scale(1)';
        document.body.style.webkitTransform =  scale;    // Chrome, Opera, Safari
        document.body.style.msTransform =   scale;       // IE 9
        document.body.style.transform = scale;     // General

        loadTable();
        setupStream();
    }

</script>

<html>
<body onload="init();" style="font-family: verdana, arial, tahoma, 'sans serif'; font-size: 12px;">

<script>
    if (window.location.pathname.includes("dash"))
        document.write('<a href="/" target="index">Index</a> <b>&#124;</b> Dashboard <b>&#124;</b> <span class="spanClick" onclick="openLoginForm(window.location.reload.bind(window.location)); return false;">Credentials</span> <b>&#124;</b> <span class="spanClick" onclick="openAboutForm(); return false;">About</span>');
    else
        document.write('Index <b>&#124;</b> <a href="/dash" target="dash"> Dashboard </a> <b>&#124;</b> <span class="spanClick" onclick="openLoginForm(window.location.reload.bind(window.location)); return false;">Credentials</span> <b>&#124;</b> <span class="spanClick" onclick="openAboutForm(); return false;">About</span>');
</script>

<div id="main" style="position: relative;">


</div> 

{% include "dialogs.html" %}

</body>
</html>
