#chatDiv {
  position: absolute;
  top:80px;
  left: 200px;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  display: none;
  margin: 5px;
  width: 300px;
  height: 450px;
  box-sizing:border-box;
}

#chatDivHeader {
  text-align: center;
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  font-size:20px;
  font-weight:bold;
  margin: 5px;
}

#chatContent {
  margin: 5px;
  padding: 5px;
  width: calc(100% - 22px);
  height: 270px;
  z-index: 10;
  border: 1px solid black;
  background-color: #dddddd;
  color: #000;
  cursor: pointer;
  overflow-y: auto;
}

#chatInput {
  margin: 5px;
  padding:5px;
  width: calc(100% - 20px);
  background-color:#bbbbbb;
  border: 1px solid black;
  resize: none;
  cursor: text;
}

#chatInput:focus {
    border: 1px solid black;
    outline: none;
    outline-width: 0;
}

#chatDiv button  {
  color: white;
  padding: 8px 8px;
  border: none;
  cursor: pointer;
  width: 25%;
  opacity: 0.8;
  margin: 5px;
}

#chatDiv button:hover {
  opacity: 1;
}

#chatBtnSend {
  background-color: #04AA6D;
}

#chatBtnClose {
  background-color: red;
}
