

@media screen and (orientation:portrait) {

    :where(html.mobile) #chatDiv {
      display: none;
      position: absolute;
      top: 4vh;
      left: 10vw;
      z-index: 9;
      background-color: #f1f1f1;
      border: 1px solid #d3d3d3;
      margin: 5px;
      width: 75vw;
      height: 40vh;
      box-sizing:border-box;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 8vh max-content; 
      grid-template-areas:
         "content"
         "input"
         "buttons";
      row-gap: 2px;
    }
}

@media screen and (orientation:landscape) {
    :where(html.mobile) #chatDiv {
      display: none;
      position: absolute;
      top: 4vh;
      left: 15vw;
      z-index: 9;
      background-color: #f1f1f1;
      border: 1px solid #d3d3d3;
      margin: 5px;
      width: 50vw;
      height: 60vh;
      box-sizing:border-box;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 15vh max-content; 
      grid-template-areas:
         "content"
         "input"
         "buttons";
      row-gap: 2px;
    }
}

:where(html.mobile) #chatDivHeader {
  display: none;
  text-align: center;
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  font-size: 2vh;
  font-weight:bold;
  margin: 2px;
  grid-area: header;
}

:where(html.mobile) #chatContent {
  grid-area: content;
  margin: 5px;
  padding: 5px;
  width: calc(100% - 22px);
  z-index: 10;
  border: 1px solid black;
  background-color: #dddddd;
  color: #000;
  cursor: pointer;
  overflow-y: auto;  
  font-size: 2vh;
}

:where(html.mobile) #chatInput {
  grid-area: input;
  margin: 5px;
  padding:5px;
  width: calc(100% - 10px);
  background-color:#bbbbbb;
  border: 1px solid black;
  resize: none;
  cursor: text;
}

:where(html.mobile) #chatInput:focus {
    border: 1px solid black;
    outline: none;
    outline-width: 0;
}

:where(html.mobile) #chatButtons {
    grid-area: buttons;
}

:where(html.mobile) #chatButtons button {
  color: white;
  padding: 8px 8px;
  border: none;
  cursor: pointer;
  width: 25%;
  opacity: 0.8;
  margin: 5px;
  margin-top: 0px;
  font-size: 2.5vh;
}

:where(html.mobile) #chatButtons button:hover {
  opacity: 1;
}

:where(html.mobile) #chatBtnSend {
  background-color: #04AA6D;
}

:where(html.mobile) #chatBtnClose {
  background-color: red;
  float: right;
}

:where(html.mobile) #paperclip {
    width: 3vh;
    vertical-align: middle;
}

:where(html.mobile) .image-upload>input {
    display: none;
}
:where(html.mobile) .image-upload {
    margin: 0px;
    padding: 0px;
}

:where(html.mobile) #modalImgDiv {
    display: none;
/*
    width: 100%;
    height: 100%;
*/
    min-width: 300px;
    min-height: 300px;
    position: absolute;
    z-index: 1000;
    overflow: auto;
    background-color: rgba(128,128,128,0.8);
    padding: 10px;
    cursor: pointer;
    top: 5vh;
    left: 10vw;
}

:where(html.mobile) #modalImg {
    margin: auto;
    display: block;
    max-width: 90%;
}

:where(html.mobile) #modalImgClose {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    color: #eeeeee;
}

/* desktop */

:where(html.desktop) #chatDiv {
  display: none;
  position: absolute;
  top:80px;
  left: 200px;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  margin: 5px;
  width: 300px;
  height: 600px;
  box-sizing:border-box;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr 60px max-content; 
  grid-template-areas:
     "header"
     "content"
     "input"
     "buttons";
  row-gap: 5px;
  padding: 5px;
}

:where(html.desktop) #chatDivHeader {
  grid-area: header;
  text-align: center;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  font-size:16px;
  font-weight:bold;
}

:where(html.desktop) #chatContent {
  grid-area: content;
  z-index: 10;
  border: 1px solid black;
  background-color: #dddddd;
  color: #000;
  cursor: pointer;
  overflow: scroll;
}

:where(html.desktop) #chatInput {
  grid-area: input;
  background-color:#bbbbbb;
  border: 1px solid black;
  resize: none;
  cursor: text;
}

:where(html.desktop) #chatInput:focus {
    border: 1px solid black;
    outline: none;
    outline-width: 0;
}

:where(html.desktop) #chatButtons {
    grid-area: buttons;
}

:where(html.desktop) #chatButtons button {
  color: white;
  padding: 8px 8px; 
  border: none;
  cursor: pointer;
  width: 25%;
  opacity: 0.8;
  margin-top: 0px;
}

:where(html.desktop) #chatButtons button:hover {
  opacity: 1;
}

:where(html.desktop) #chatBtnSend {
  background-color: #04AA6D;
}

:where(html.desktop) #chatBtnClose {
  background-color: red;
  float: right;
}

:where(html.desktop) #paperclip {
    vertical-align: middle;
}

:where(html.desktop) .image-upload>input {
    display: none;
}
:where(html.desktop) .image-upload {
    margin: 0px;
    padding: 0px;
}

:where(html.desktop) #modalImgDiv {
    display: none;
/*
    width: 100%;
    height: 100%;
*/
    min-width: 300px;
    min-height: 300px;
    position: absolute;
    top: 5vh;
    left: 10vw;
    z-index: 1000;
    overflow: auto;
    background-color: rgba(128,128,128,0.8);
    padding: 10px;
    cursor: pointer;
}

:where(html.desktop) #modalImg {
    margin: auto;
    display: block;
    max-width: 70vw;
}

:where(html.desktop) #modalImgClose {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    color: #eeeeee;
}
