    a:link,.spanClick           {color:#0000ff; text-decoration:none}
    a:visited {color:#0000aa; text-decoration:none}
    a:hover,.spanClick:hover    {color:#0000aa; text-decoration:underline; cursor:pointer; }
    a:active,.spanClick:active  {color:#0000aa; text-decoration:underline}

    #navLinks {
        font-size: 1rem;
        position: sticky;  
        top: 0;
        width: 100%;
        z-index: 100;
        list-style: none; 
        opacity: 1.0;
        background: #999;
        background-color: #999;
        padding-bottom: 1.0vh;
    }


    #page {
        overflow: none;
    }
    
    body {
        background-color: #999999;
        color: #000000;
        font-family: verdana, arial, tahoma, 'sans serif'; 
        box-sizing: border-box;
        /* overflow: none; */
        font-size: 1rem;
    }

    #loginForm {
        top: 10vh;
    }
